/conversion/nbproject/private/
/conversion/build/
/Assignment1/nbproject/private/
/Assignment1/build/
/classPet/nbproject/private/
/classPet/build/
/Assignment 2/nbproject/private/
/Assignment 2/build/